.navbar {
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0;
    height:40px;
    line-height: 40px;
    padding:10px;
    display: flex;
    align-items: flex-start;
}

a, a:visited {
    color:white;
    background-color: #000000;
    text-decoration: none;
    padding:4px;
    margin-left:10px;
}

a:hover {
    background-color: #808080;
}