.navbar {
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0;
    padding:10px;
    display: flex;
    align-items: flex-start;
}

a, a:visited {
    color:white;
    background-color: #000000;
    text-decoration: none;
    vertical-align: bottom;
    margin-left:10px;
    margin-right:10px;
}

a:hover fa-icon {
    color: cyan;
}