h1 {
  margin-left:10px;
}

.table .thead-light th {
  border-color: #606060;
}

tbody tr:first-child td:first-child {
  font-weight:bold;
}

.error {
    margin-left:5%;
    font-weight:bold;
    color:red;
}

input {
    width:98%;
}

select {
    width:98%;
    padding:3px;
}

button {
    margin-top:20px;
    margin-left:20px;
    padding:10px;
}