h1 {
  margin-left:10px;
}

.item-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top:30px;
    margin-left:5%;
}

.item-table td, .item-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.item-table tr:nth-child(even){background-color: #f2f2f2;}

.item-table tr:hover {background-color: #ddd;}

.item-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1976d2;
  color: white;
}