<h1>Budget Items</h1>
<!-- Uses Bootstrap Table Styling -->
<table class="table" *ngIf="budgetItems">
    <tr>
        <th>Income/Expense</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Frequency</th>
        <th>Reference Date</th>
    </tr>
    <tr *ngFor="let item of budgetItems; index as i;">
        <td>{{ item.eventType }}</td>
        <td>{{ item.label }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.freqType }}</td>
        <td>{{ item.referenceDate }}</td>
    </tr>
    <tr *ngIf="budgetItems.length == 0">
        <td></td>
        <td>No items have been added yet.</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
